---
layout: default
title: Archive
---
 
<ul class="archive">
{% for post in site.posts %}
    <li><span class="date">{{ post.date | date: "%d %b %Y" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>