---
layout: default
include_comments: true
---

<div id="content">
{% for post in site.posts limit:10 %}
  <article class='index-article'>
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <div class="date">{{ post.excerpt | date: "%d %b %Y"}}</div>
      {{ post.content | strip_html | truncatewords:100 }}
      <a href="{{ post.url }}">more</a>
  </article>
{% endfor %}
</div>
