h1
    font-size: 5em
    position: relative
    top: 20px
    width: 100%
    text-align: center
    #code
        font-family: Consolas
        #word
            color:  #449944
    #dojo
        font-family: serif
        color: #449944
        text-shadow: 1px 1px #151

#header
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 300px