//------------------------------------------------------------
// layout
$wrapper-width: 90%;
$nav-part-width: 180px;
$sidebar-width: 50%;

$post-footer-child-padding: 0 40px;

$yellow: #F6EA75;
$orange: #E6705A;
$red: #CA272B;
$purple: #C258AC;
$black: #3B2B3B;
$green: #33C390;

.yellow { margin: 0; width: percentage(1/6); height: 10px; display: inline-block; background-color: $yellow }
.orange { margin: 0; width: percentage(1/6); height: 10px; display: inline-block; background-color: $orange }
.red { margin: 0; width: percentage(1/6); height: 10px; display: inline-block; background-color: $red }
.purple { margin: 0; width: percentage(1/6); height: 10px; display: inline-block; background-color: $purple }
.black { margin: 0; width: percentage(1/6); height: 10px; display: inline-block; background-color: $black }
.green { margin: 0; width: percentage(1/6); height: 10px; display: inline-block; background-color: $green }

// elements
$ul-margin-left: 20px;
$img-max-width: 700px;
$image-with-caption-max-width: 510px;
$related-width: 383px;
$h3-padding-right: 60px;

//about page
$about-page-img-width: 40%;
$about-page-short-width: 100%-$about-page-img-width;
//------------------------------------------------------------

//------------------------------------------------------------
// funz
$bevel-border-light: 1px solid rgba(255,255,255, .7);
$bevel-border-dark: 1px solid rgba(0,0,0, .4);
@mixin bevel {
    &:not(:first-of-type) { border-top: $bevel-border-light; }
    &:not(:last-of-type) { border-bottom: $bevel-border-dark; }
}//@media
@mixin content-styles {
  h1, h2, h3, h4, h5 { padding: 8px 0px 2px 0px; }
  p { margin: 15px 0px; }

  h2, h3 {
    margin: 25px -20px -5px -20px;
    padding: 0px 20px; }
}
//------------------------------------------------------------


// Global resets
* {
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: rgba(0,0,0, .0);
  -webkit-box-sizing: border-box;
   -khtml-box-sizing: border-box;
    -icab-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box; }

h1 {
  font-size: 40px;
}
h1, h2, h3, h4, h5 {
  color: #333333;
  font-family: "Cantarell", arial, serif;
  font-weight: 400;
  letter-spacing: -0.08em;
  a {
    text-decoration: none;
    color: #333333; } }

.post-content {
  @include content-styles;
  margin-bottom: 80px;
}//.post-content

h2 {
  border-left: $purple solid 10px;
}
h3 {
  border-left: $orange solid 10px;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  padding: 0px;
  color: #333333;
  background-color: #fdfdfd; }

blockquote {
  border-left: $green solid 10px; }
pre {
  border-left: $yellow solid 10px;
}
pre, code {
  font-family: "Inconsolata", arial, serif;
  background-color: $black;
  color: #eaeaea;
  overflow-x: scroll;
  overflow-y: hidden; }
pre, blockquote {
  margin: 10px 10px 10px -20px;
  padding: 10px 5%; }

p code {
  word-break: break-word;
  color: #eaeaea;
  padding: 3px;
  font-weight: 900;
}

ol {
  padding-left: 40px;
  margin-left: -20px;
  border-left: lighten($red, 20%) solid 10px;
}

img {
  max-width: $img-max-width;
  max-height: 500px;
  border: #333 solid 4px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0, .7);
     -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0, .7);
          box-shadow: 0 1px 3px 0 rgba(0,0,0, .7); }

p { line-height: 24px; }

ul {
  list-style-type: circle;
  list-style-position: inside;
}

#wrapper {
  margin: 0px auto;
  padding: 20px;
  max-width: 960px;
}
#nav {
  margin: 0 auto;
  padding-bottom: 250px;
  padding-top: 50px;
  text-align: center;
  .nav-part {
    width: $nav-part-width;
    vertical-align: top;
    display: inline-block;
    text-align: left;
  }
  h4 {
    font-size: 140%;
    font-weight: 400;
    border-left: $orange solid 10px;
    padding-left: 20px;
  }
  ul {
    padding-left: $ul-margin-left;
    list-style: none;
    li {
      a {
        color: black;
        padding-left: 10px;
        text-transform: lowercase;
        font-size: 80%;
        font-family: "Cantarell", arial, serif;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          border-left: $red solid 10px;
          margin-left: -20px;
          padding-left: 20px;
          text-decoration: underline; } } } } }

#content .index-article {
  margin-top: 50px;
  padding-bottom: 8px;
  h1 {
    line-height: 40px;
    margin: 0px 0px 10px 0px;
  }
  border-left: $purple solid 10px;
  margin-left: -20px;
  padding: 0 40px;
}
#content .index-article:nth-child(4n+1) {
  border-left: $orange solid 10px;
}
#content .index-article:nth-child(4n+2) {
  border-left: $green solid 10px;
}
#content .index-article:nth-child(4n+3) {
  border-left: $red solid 10px;
}

.image_with_caption {
  background-color: #eeeeee;
  max-width: $image-with-caption-max-width;
  padding: 10px;
  img {
    border: solid 2px black;
    background-color: white;
    display: block; } }

td, th {
  padding: 5px; }

.image_with_caption_no_maxes {
  background-color: #eeeeee;
  padding: 10px;
  img {
    border: solid 2px black;
    background-color: white; } }

.on_the_right {
  float: right; }

.on_the_left {
  float: left; }

.sidebar {
  width: $sidebar-width;
  background-color: #eeeeff;
  margin: 10px 15px;
  padding: 10px;
  pre {
    background-color: white;
    margin: 10px 0px; } }

.post-footer {
  margin: 100px 0 0px 0;
  .about, .related {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    h3 {
      margin-bottom: 10px;
      padding: $post-footer-child-padding;
    }
    ul { padding: $post-footer-child-padding; } }

  .about {
    text-align: right;
    h3 {
      border-left: none;
      border-right: $orange solid 10px;
    }
    img {
      width: 100%;
      max-width: 200px;
      margin: 10px 0;
      right: 0;
      border-radius: 200px;
    }
  }
}//.post-footer

.related {
  h3 { text-align: left; }
  ul {
    margin-left: -40px;
    list-style: none;
    li {
      padding-bottom: 10px; }

    a {
      color: black;
      text-decoration: none;
      &:hover { text-decoration: underline; } } }

  .date {
    margin-right: 8px;
 } }


#about-page {
  h3 { margin-bottom: 10px; }
  img, #short { display: inline-block; }
  img {
    border-radius: 200px;
    max-width: 200px;
    width: $about-page-img-width;
  }

  .about-article { @include content-styles; }
  #short {
    vertical-align: top;
    width: $about-page-short-width;
    color: #555555;
    padding: 0 0 0 10px; }
  #disclaimer {
    color: #660000;
    font-size: 75%; } }
.about-header { border-bottom: $bevel-border-dark; }
.about-article {
  border-bottom: $bevel-border-dark;
  border-top: $bevel-border-light; }
.about-footer { border-top: $bevel-border-light; }



// media queries
@media only screen and (max-width: 1024px) {
  -webkit-text-size-adjust: none;
}//media
@media only screen and (max-width: 599px) {
  img { max-width: 100%; }
  ul {
    list-style: none;
    padding: 0; }

  h1 {
    font-size: 24px;
  }
  .on_the_left, .on_the_right { float: none; }

  #nav .nav-part {
    display: block;
    text-align: center;
    width: 100%;
    h4 {
      border-left: none;
      margin-top: 30px;
    }
    ul {
      border-left: none;
      li a:hover {
        margin-left: -10px;
        border-left: none;
      }
    }
    h4 { font-size: 1.2em; } }

  .post-footer {
    .related {
      h3 { text-align: center; }
      ul, h3 { padding: 0; } }
    .about, .related {
      display: block;
      ul { margin-left: 0; }
      width: 100%; } }

  .sidebar {
    width: 100%;
    margin: 0 auto; }

  #about-page {
    img, #short {
      width: 100%;
      display: block; }
    #short { padding: 10px 0; } }
}//media
