<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Cantarell:400,700,400italic,700italic|Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" href="{{ site.feed }}" />
    {% for css in site.css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ css }}" />
    {% endfor %}

    {% for css in page.css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ css }}" />
    {% endfor %}

    {% for js in site.js %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ css }}" />
    {% endfor %}

    {% for js in page.js %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ css }}" />
    {% endfor %}
    <link rel="icon" type="image/png" href="/icon.png">

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("UA-15522864-1");
          pageTracker._trackPageview();
        }
catch(err) {

}
</script>
    </head>
    <body>
      <div id="wrapper">
        <div id="content">
          {{ content }}
        </div>

        <div id="nav">
          <div class="nav-part">
            <h4>Site</h4>
            <ul>
              <li><a class="nav" href="/">derekhammer.com</a></li>
              {% for nav in site.nav %}
              <li><a class="nav" href="{{ nav.url }}">{{ nav.name }}</a></li>
              {% endfor %}
            </ul>
          </div><div class="nav-part">
            <h4>Blog Roll</h4>
            <ul>
              {% for blog in site.blogroll %}
              <li><a class="nav" href="{{ blog.url }}">{{ blog.name }}</a></li>
              {% endfor %}
            </ul>
          </div><div class="nav-part">
            <h4>Social Media</h4>
            <ul>
              {% for media in site.media %}
              <li><a class="nav" href="{{ media.url }}">{{ media.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <!-- JavaScript -->

      {% for js in site.js %}
      <script src="{{ js }}" type="text/javascript" charset="utf-8"></script>
      {% endfor %}

      {% for js in page.js %}
      <script src="{{ js }}" type="text/javascript" charset="utf-8"></script>
      {% endfor %}

      <a rel="author" href="https://profiles.google.com/" style="display: none;">
          <img src="https://ssl.gstatic.com/images/icons/gplus-16.png" width="16" height="16">
      </a>
    </body>
  </html>
