---
layout: default
include_comments: true
---

<section class="post">
    <div class='spacer'>
      <div class='yellow'></div><div class='orange'></div><div class='red'></div><div class='purple'></div><div class='black'></div><div class='green'></div>
    </div>
    <header>
      <h1>{{ page.title }}</h1>
      <div class="date">{{ page.date | date: "%d %b %Y"}}</div>
    </header>
    <article class="post-content">
        {{ content }}
    </article>
    <footer class="post-footer">
        {% unless site.related_posts == empty %}<div class="related">
            <h3>Possibly related posts</h3>
            <ul>
                {% for related_post in site.related_posts %}
                <li><span class="date">{{ related_post.date | date:"%m-%d"}}</span><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>{% endunless %}<div class="about">
            <h3>About Derek Hammer</h3>
            <img src="/images/hammer.png" alt="Derek Hammer" />
            <p>
                Derek Hammer writes code for a living. He loves to travel, share a good beer and try new things. He currently lives in Chicago, Illinois and works for <strong>Thought</strong>Works.
            </p>
          </div>
    </footer>
</section>
